In [1]:
import numpy as np
import pandas as pd
from pandas import Series, DataFrame

from numpy.random import randn

In [3]:
ser = Series(randn(6),index=[[1,1,1,2,2,2],['a','b','c','a','b','c']])

In [4]:
ser

1  a    1.296745
   b   -0.990147
   c   -0.568052
2  a   -0.854326
   b    1.232547
   c    0.330662
dtype: float64

In [5]:
ser.index

MultiIndex(levels=[[1, 2], [u'a', u'b', u'c']],
           labels=[[0, 0, 0, 1, 1, 1], [0, 1, 2, 0, 1, 2]])

In [38]:
ser[1]

a    1.296745
b   -0.990147
c   -0.568052
dtype: float64

In [40]:
ser[2]

a   -0.854326
b    1.232547
c    0.330662
dtype: float64

In [8]:
ser

1  a    1.296745
   b   -0.990147
   c   -0.568052
2  a   -0.854326
   b    1.232547
   c    0.330662
dtype: float64

In [9]:
ser[:,'a']

1    1.296745
2   -0.854326
dtype: float64

In [10]:
dframe = ser.unstack()

In [11]:
dframe

          a         b         c
1  1.296745 -0.990147 -0.568052
2 -0.854326  1.232547  0.330662

In [13]:
dframe2 = DataFrame(np.arange(16).reshape((4,4)),index=[['a','a','b','b'],[1,2,1,2]],
                   columns=[['NY','NY','LA','SF'],['cold','hot','hot','cold']])

In [14]:
dframe2

      NY      LA   SF
    cold hot hot cold
a 1    0   1   2    3
  2    4   5   6    7
b 1    8   9  10   11
  2   12  13  14   15

In [16]:
dframe2.index

MultiIndex(levels=[[u'a', u'b'], [1, 2]],
           labels=[[0, 0, 1, 1], [0, 1, 0, 1]])

In [19]:
dframe2.index.names=['INDEX_1','INDEX_2']
dframe2.columns.names = ['Cities','Temp']

In [20]:
dframe2

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [30]:
dframe2.swaplevel('Cities','Temp',axis=1)

Temp            cold hot     cold
Cities            NY  NY  LA   SF
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [31]:
dframe2.sortlevel(1)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
b       1          8   9  10   11
a       2          4   5   6    7
b       2         12  13  14   15

In [32]:
dframe2.sortlevel(0)

Cities            NY      LA   SF
Temp            cold hot hot cold
INDEX_1 INDEX_2
a       1          0   1   2    3
        2          4   5   6    7
b       1          8   9  10   11
        2         12  13  14   15

In [33]:
dframe2.sum(level='Temp', axis=1)

Temp             cold  hot
INDEX_1 INDEX_2
a       1           3    3
        2          11   11
b       1          19   19
        2          27   27